.pagination {
  padding: 20px 0;
}

.pagination__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0 0 10px;
}

.pagination__total {
  text-align: center;
}
